button, check-box, sprite-button, text-edit {
	background-color: #242730;
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.325;
}

button:active, sprite-button:active {
	background-color: #893240;
}

button:hover, sprite-button:hover {
	background-color: #F21951;
}

check-box {
	accent-color: #FFFFF0;
}

check-box:active, collapsing-header:active, slider:active {
	accent-color: #893240;
}

check-box:hover, collapsing-header:hover, slider:hover {
	accent-color: #F21951;
}

collapsing-header {
	accent-color: #FFFFF0;
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.325;
}

frame {
	background-color: #32353D;
	border-color: rgba(12, 12, 12, 0.375);
	color: rgba(105, 255, 89, 0.125);
}

heading {
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.45;
}

hyperlink {
	color: #00829B;
	font-family: 0;
	font-size: 0.325;
}

hyperlink:active {
	color: #275363;
}

hyperlink:hover {
	color: #00ADCE;
}

label, text-area {
	color: #C4C4BD;
	font-family: 0;
	font-size: 0.325;
}

progress-bar {
	background-color: #242730;
	color: #099C76;
}

selectable {
	accent-color: #099C76;
	background-color: #32353D;
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.325;
}

selectable:active {
	accent-color: #295F52;
	background-color: #15171C;
}

selectable:hover {
	background-color: #242730;
}

separator {
	color: #242730;
}

slider {
	accent-color: #C4C4BD;
	background-color: #242730;
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.325;
}

text-edit:active {
	color: #893240;
}

text-edit:hover {
	color: #F21951;
}
