button, check-box, sprite-button, text-edit {
	background-color: #242730;
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.325em;
}

button:hover, sprite-button:hover {
	background-color: #F50551;
}

check-box:hover {
	background-color: #242730;
	color: #F50551;
}

collapsing-header {
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.325em;
}

collapsing-header:hover {
	color: #F50551;
}

frame {
	background-color: #32353D;
	color: rgba(105, 255, 89, 0.125);
}

heading {
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.45em;
}

hyperlink {
	color: #009B67;
	font-family: 0;
	font-size: 0.325em;
}

hyperlink:hover {
	color: #00E296;
}

label, text-area {
	color: #C4C4BD;
	font-family: 0;
	font-size: 0.325em;
}

progress-bar {
	background-color: #242730;
	color: #009B67;
}

selectable {
	accent-color: #009B67;
	background-color: #32353D;
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.325em;
}

selectable:hover {
	background-color: #242730;
	color: #FFFFF0;
}

separator {
	color: #242730;
}

slider {
	accent-color: #C4C4BD;
	background-color: #242730;
	color: #FFFFF0;
	font-family: 0;
	font-size: 0.325em;
}

slider:hover, text-edit:hover {
	accent-color: #F50551;
	background-color: #242730;
}
